.title-color {
  color: #e8486a !important;
}

.custom-box-shadow {
  box-shadow: none !important;
}

/* SECTION 1 */
#section1 div {
margin-top: 15%;
font-size: 1.1em
}

#section1 div p:nth-child(1) {
  color: #e8486a;
}

#section1 div p:nth-child(1) span {
  color: #eee;
  margin-left: 10%;
}

#section1 div p:nth-child(2) {
  color: #2bb2d3;
}

/* SECTION 2 */
#section2 {
  top: 100px !important;
}

/* SECTION 3 */
#section3 {
  top: 0 !important;
}

/* SECTION 7  */
#section7 img {
  transform: rotate(10deg);
}

/* SECTION 9  */
#section9 img {
  /* transform: skewX(30deg); */
  transform: matrix(1, 0, 0.57,1, 0, 0);
}
